{% extends 'base.html' %}
{% block title %}
<title>Поиск комнаты</title>
{% endblock %}
{% block content %}
<div class="my-5 d-flex justify-content-center">
    <form class="d-flex flex-column" action="/search_room" method="post">
        <h4>Поиск комнаты</h4>
        <div class="d-flex flex-column my-1">
            <label class="mb-2">Дата заезда</label>
            <input type="date" placeholder="дата заезда" name="date_in"/>
        </div>
        <div class="d-flex flex-column my-1">
            <label class="mb-2">Дата отъезда</label>
            <input type="date" placeholder="дата отъезда" name="date_out">
        </div>
        <div class="d-flex flex-column my-1">
            <label class="mb-2">Количество мест</label>
            <input type="number" placeholder="количество мест" min="1" name="room_space"/>
        </div>
        <br/>
        <input type="submit" value="Поиск">
    </form>
</div>
<div class="my-5 d-flex">
    <table class="mx-5 w-100">
        <thead>
            <tr>
                <th>Номер комнаты</th>
                <th>Вместительность</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td>{{ room.room_id }}</td>
                <td>{{ room.room_space }}</td>
                <td>{{ room.price_for_night }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
